<div>
    <StandaloneCodeEditor 
        Id="editor" 
        ConstructionOptions="EditorConstructionOptions" 
        CssClass="editor" />
</div>

@code {
    private StandaloneEditorConstructionOptions EditorConstructionOptions(StandaloneCodeEditor editor)
    {
        return new StandaloneEditorConstructionOptions
        {
            AutomaticLayout = true,
            Language = "csharp",
            Value = "Console.WriteLine(\"Hello, World!\");"
        };
    }
}