@import '_content/Blazored.Toast/Blazored.Toast.bundle.scp.css';

/* /Components/Editor/CheckboxList.razor.rz.scp.css */
div.checkboxlist[b-k6s4og96xy] {
    height: 500px;
    overflow: scroll;
    border: 1px gray solid;
}

div.form-check[b-k6s4og96xy] {
    margin-left: 5px;
}

p#title[b-k6s4og96xy] {
    padding-left: 5px;
}
/* /Components/Editor/EditorComponent.razor.rz.scp.css */
[b-6dijnfhog3] #editor {
	height: 500px;
}
/* /Components/Editor/Samples.razor.rz.scp.css */
/* /Components/MainLayout.razor.rz.scp.css */
.page[b-3ipp1505bs] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-3ipp1505bs] {
    flex: 1;
}

.sidebar[b-3ipp1505bs] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-3ipp1505bs] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-3ipp1505bs]  a, .top-row[b-3ipp1505bs]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-3ipp1505bs]  a:hover, .top-row[b-3ipp1505bs]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-3ipp1505bs]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-3ipp1505bs] {
        display: none;
    }

    .top-row.auth[b-3ipp1505bs] {
        justify-content: space-between;
    }

    .top-row[b-3ipp1505bs]  a, .top-row[b-3ipp1505bs]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-3ipp1505bs] {
        flex-direction: row;
    }

    .sidebar[b-3ipp1505bs] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-3ipp1505bs] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-3ipp1505bs]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-3ipp1505bs], article[b-3ipp1505bs] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

/* /Components/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-i31qm5nm64] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-i31qm5nm64] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-i31qm5nm64] {
    font-size: 1.1rem;
}

.oi[b-i31qm5nm64] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-i31qm5nm64] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-i31qm5nm64] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-i31qm5nm64] {
        padding-bottom: 1rem;
    }

    .nav-item[b-i31qm5nm64]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-i31qm5nm64]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-i31qm5nm64]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-i31qm5nm64] {
        display: none;
    }

    .collapse[b-i31qm5nm64] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-i31qm5nm64] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}

/* /Components/Output/OutputComponent.razor.rz.scp.css */
div[b-thtwn92nhp] {
    background: black;
    color: white;
    font-family: monospace;
}

.normal[b-thtwn92nhp] {
    color: white;
}

.success[b-thtwn92nhp] {
    color: green;
}

.error[b-thtwn92nhp] {
    color: red;
}

.warning[b-thtwn92nhp] {
    color: orange;
}
/* /Pages/Index.razor.rz.scp.css */
.container[b-htdlf97sw4], .container-fluid[b-htdlf97sw4], .container-lg[b-htdlf97sw4], .container-md[b-htdlf97sw4], .container-sm[b-htdlf97sw4], .container-xl[b-htdlf97sw4], .container-xxl[b-htdlf97sw4] {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}
