@typeparam TItem
<div style=@Style>
    <p>Namespaces:</p>
    @if (Data != null)
    {
        foreach (var item in Data.Where(i => i is not null))
        {
            var text = TextField?.Invoke(item);
            var value = ValueField?.Invoke(item).ToString();
            var isChecked = SelectedValues.Contains(value!);
            var isDisabled = DisabledValues.Contains(value!);
            
            <input
                type="checkbox"
                checked=@isChecked
                disabled=@isDisabled
                class="form-check-input"
                @onchange="eventArgs => { CheckboxClicked(value, eventArgs.Value); }"
                value="@value"
                />@text<br/>
            @*<label class="form-check-label" for="">
                Default checkbox
            </label>*@
        }
    }
    @ChildContent
</div>

@code {
    // How To Create A Checkbox List In Blazor - S.Ravi Kumar - Jul 17, 2020
    // https://www.c-sharpcorner.com/article/how-to-create-a-checkbox-list-in-blazor/
    [Parameter]
    public IEnumerable<TItem> Data { get; set; }

    [Parameter]
    public Func<TItem, string> TextField { get; set; }

    [Parameter]
    public Func<TItem, object> ValueField { get; set; }

    [Parameter]
    public string Style { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public List<string> SelectedValues { get; set; }

    [Parameter]
    public List<string> DisabledValues { get; set; }

    public void CheckboxClicked(string aSelectedId, object aChecked)
    {
        if ((bool)aChecked)
        {
            if (!SelectedValues.Contains(aSelectedId))
            {
                SelectedValues.Add(aSelectedId);
            }
        }
        else
        {
            if (SelectedValues.Contains(aSelectedId))
            {
                SelectedValues.Remove(aSelectedId);
            }
        }
        StateHasChanged();
    }
}