@inject HttpClient Http

<div class="samples-dropdown">
    <label class="form-label" for="Samples">Samples:</label>
    <select id="Samples" name="Samples" class="form-control" @onchange="ChangeSample">
        @foreach(var sample in _samples)
        {
            <option value="@sample.Name">@sample.Name</option>
        }
    </select>
</div>

@code {
    [Parameter]
    public EventCallback<SampleArgs> OnSampleChanged { get; set; }

    private SampleArgs[] _samples = Array.Empty<SampleArgs>();

    protected async override Task OnInitializedAsync()
    {
        _samples = await Http.GetFromJsonAsync<SampleArgs[]>("data/samples.json");
    }

    private async Task ChangeSample(ChangeEventArgs e)
    {
        var chosenItem = e.Value?.ToString();
        var chosenSample = _samples.FirstOrDefault(s => s.Name == chosenItem);
        await OnSampleChanged.InvokeAsync(chosenSample);
    }
}