@inject HttpClient Http

<div class="samples-dropdown">
    <label class="form-label" for="Samples">Samples:</label>
    <select id="Samples" name="Samples" class="form-control" @onchange="ChangeSample">
        <option value="----">Please Select</option>
        <option value="simple">Simple</option>
        <option value="fib">Fib</option>
    </select>
</div>

@code {
    [Parameter]
    public EventCallback<SampleArgs> OnSampleChanged { get; set; }

    private SampleArgs[]? _samples;

    protected async override Task OnInitializedAsync()
    {
        _samples = await Http.GetFromJsonAsync<SampleArgs[]>("data/samples.json");
    }

    private async Task ChangeSample(ChangeEventArgs e)
    {
        var chosenItem = e.Value?.ToString();
        var chosenSample = _samples.FirstOrDefault(s => s.Name == chosenItem);
        await OnSampleChanged.InvokeAsync(chosenSample);
    }
    
}