div {
    background: black;
    color: white;
    font-family: monospace;
}

.normal {
    color: white;
}

.success {
    color: green;
}

.error {
    color: red;
}

.warning {
    color: orange;
}

div#Output {
    white-space: pre-line;
}