<div id="Output">
    @Content
</div>

@code {

    [Parameter]
    public string Content { get; set; }

    public void SetContent(string content)
    {
        Content = content;
        StateHasChanged();
    }

}