@page "/about"

<PageTitle>About</PageTitle>

<div class="container">

    <div class="row">
        <div class="col">
            <h1>About</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>Idea</h2>
            <p>Online C# code compilier.</p>
            <p>Inspiration from <a href="https://try.dot.net" target="_blank">https://try.dot.net</a>. (<a href="https://dotnet.microsoft.com/en-us/platform/try-dotnet" target="_blank">Try .NET</a>)</p>
            <p>Written in Blazor (WASM) and all running locally in your browser 🤯.</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>Code</h2>
            <p>See all the code on GitHub - <a href="https://github.com/alex-hedley/blazorinteractive" target="_blank">Blazor Interactive</a>.</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>Authors</h2>
            <p>
                <ul>
                    <li><a href="https://github.com/alex-hedley" target="_blank">Alex Hedley</a></li>
                    <li><a href="https://github.com/TheDanielDoyle" target="_blank">Daniel Doyle</a></li>
                    <li><a href="https://github.com/jamsidedown" target="_blank">Rob Anderson</a></li>
                </ul>
            </p>
        </div>
    </div>

</div>

@code {}
