@using BlazorInteractive.Components.Editor
@using BlazorInteractive.Components.Output
@page "/"
@inject ScriptCompiler ScriptCompiler

<PageTitle>Index</PageTitle>

<div class="container">
    <div class="row">
        <div class="col">
            <EditorComponent OnCompile="OnCompileAsync"></EditorComponent>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <OutputComponent Content="@output" OutputClass="@outputClass"></OutputComponent>
        </div>
    </div>
</div>

@code {
    private string output = string.Empty;
    private string outputClass = string.Empty;

    private async Task OnCompileAsync(string editorText)
    {
        CompilationResult compilationResult = await ScriptCompiler.CompileAsync(editorText, new[] { "System" });
        //Can't create a metadata reference to an assembly without location.
        output = compilationResult.Match(
            success => {
                outputClass = "success";
                return success.Value;
            },
            @void => {
                outputClass = "";
                return string.Empty;
            },
            failure => {
                outputClass = "error";
                return failure.Exception.Message;
            },
            cancelled => {
                outputClass = "warning";
                return string.Empty;
            }
        );
    }
}