@using System.Reflection;

@using BlazorInteractive.Components.Editor
@using BlazorInteractive.Components.Output

@page "/"
@inject ScriptCompiler ScriptCompiler

<PageTitle>Index</PageTitle>

<div class="container">
    <div class="row">
        <div class="col">
            <EditorComponent OnCompile="OnCompileAsync"></EditorComponent>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <OutputComponent Content="@output" OutputClass="@outputClass"></OutputComponent>
        </div>
    </div>
</div>

@code {
    private string output = string.Empty;
    private string outputClass = string.Empty;

    private async Task OnCompileAsync(string editorText)
    {
        var imports = Assembly.GetEntryAssembly()?.GetReferencedAssemblies().Select(o => Assembly.Load(o)).ToList();
        imports.Add(typeof(object).Assembly);
        imports.Add(typeof(Console).Assembly);
        imports.Add(typeof(Enumerable).Assembly);

        var importNames = imports.Select(a => a.GetName().Name!).ToList();
        CompilationResult compilationResult = await ScriptCompiler.CompileAsync(editorText, importNames); // new[] { "System.dll" }
        //Can't create a metadata reference to an assembly without location.
        output = compilationResult.Match(
            success => {
                outputClass = "success";
                return success.Value;
            },
            @void => {
                outputClass = "";
                return string.Empty;
            },
            failure => {
                outputClass = "error";
                return failure.Exception.Message;
            },
            cancelled => {
                outputClass = "warning";
                return string.Empty;
            }
        );
    }
}