@using BlazorInteractive.Components.Editor
@using BlazorInteractive.Components.Output
@page "/"
@inject ScriptCompiler ScriptCompiler

<PageTitle>Index</PageTitle>

<div class="container">
    <div class="row">
        <div class="col">
            <EditorComponent OnCompile="OnCompileAsync"></EditorComponent>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <OutputComponent Content="@output"></OutputComponent>
        </div>
    </div>
</div>

@code {
    private string output = string.Empty;

    private async Task OnCompileAsync(string editorText)
    {
        CompilationResult compilationResult = await ScriptCompiler.CompileAsync(editorText, new[] { "System" });
        output = compilationResult.AsT0.Value;
    }
}