@page "/info"

<PageTitle>Info</PageTitle>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Info</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>Assumptions</h2>
            <p>Pre selected assemblies</p>
            <p>
                <ul>
                    <li>System.dll</li>
                    <li>System.Console.dll</li>
                    <li>System.Private.CoreLib.dll</li>
                    <li>System.Runtime.dll</li>
                </ul>
            </p>
        </div>
    </div>

</div>

@code {}
